<div class="card">
	{% if formation.category.title == 'Java' %}
		<img src="/images/utils/FormationJava.png " alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif formation.category.title =='C' %}
		<img src="/images/utils/FormationC.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif formation.category.title =='Javascript' %}
		<img src="/images/utils/FormationJavascript.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif formation.category.title =='Php'%}
		<img src="/images/utils/FormationPhp.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif formation.category.title =='Python'%}
		<img src="/images/utils/FormationPython.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif formation.category.title =='Ocaml' %}
		<img src="/images/utils/FormationOcaml.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% else %}
		<img src="/images/utils/fond.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% endif %}

	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('formation.show', {'id':formation.id , slug:formation.slug})}}" style="color:#5B7f95!important;">
				{{ formation.title }}
			</a>
			{% if app.user %}
				{% if formation.IsFinishedByUser(app.user) %}
					<i class="fas fa-check-circle fa-1x text-right" style="color:green;"></i>
				{% endif %}
			{% endif %}
		</h5>
		<p class="card-text">
			{{formation.description }}
		</p>
		<h6>
			{{formation.getInscrits() | length}}
			participant{% if (formation.getInscrits()|length)>1 %}s
			{% endif %}

		</h6>

		{% if app.user  %}
			<div>
				{% if app.user in formation.getInscrits() %}
					<a href="{{ path('formation.inscription', {'id':formation.id , slug:formation.slug})}}" style="color:#5B7f95!important;">
						Continuez votre formation</a>
				{% else %}
					<a href="{{ path('formation.inscription', {'id':formation.id , slug:formation.slug})}}">
						S'inscrire</a>
				{% endif %}
			</div>
		{% endif %}

	</div>
</div>
