{% extends 'base.html.twig' %}

{% block title formation.title %}
{% block body %}
<div  style="padding: 0.5rem 2rem;">
<h1 class="text-center"><span style="color:#5B7f95!important;"><</span> {{formation.title}} <span style="color:#5B7f95!important;">/></span></h1>
	{% if app.user in formation.getInscrits() %}
		<span>
			Bienvenue
			{{app.user.username | capitalize}}, Vous êtes inscrits dans la formation : "
			{{ formation.title}}
			".
		</span>
	{% else %}
		<span>
			{% if app.user %}
				Vous n'êtes pas inscrits, vous n'avez pas accés aux exercices.
				<a href="{{path('formation.inscription', {'id':formation.id , 'slug':formation.slug} ) }}">
					inscrivez vous  à cette formation en cliquant ici
				</a>
			{% else %}
				Vous n'êtes pas connecté, vous n'avez pas accés aux erercices.
				<a href="{{path('login')}}">
					Connectez-vous ici
				</a>
			{% endif %}
		</span>
	{% endif %}
	<div class=" text-left">
		<div class="col">
			<div class="row">
				<span>
					<span style="font-weight: bold;">Author:</span>
					{{formation.author.username | capitalize}}
					<br>
					<span style="font-weight: bold;">Category :</span>
					{{formation.category.title}}<br>
					<span style="font-weight: bold;">Published :</span>
					{{formation.getCreatedAt() | date('d/m/Y à H:i')}}
					<br>
					<span style="font-weight: bold;">Nombre de participants :</span>
					{{formation.inscrits | length}}
					<br><br>
				</span>
			</div>
			<h4 style="font-weight: bold;">Description :</h4>
				
				<span class="text-left">
				{{formation.description | nl2br }}
			</span>


		</div>
	</div>
</div>
{% if app.user in formation.getInscrits() %}
	<table>
		{% for exercice in formation.getExercices() %}
			<div class="container" style="max-width:60rem">
				<div class="col-mb-12 d-flex align-items-stretch" style="width:80%; border-style:outset;">
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ path('exercice.show', {'id':exercice.id , slug:exercice.slug})}}" style="color:#5B7f95!important;">
								{{ exercice.title }}
							</a>
							{% if app.user %}
								{% if exercice.IsResolvedByUser(app.user) %}
									<i class="fas fa-check-circle fa-1x text-right" style="color:green;"></i>
								{% endif %}
							{% endif %}

						</h5>
						<p class="card-text">
							{{exercice.description }}
						</p>
						<div class="star-class">
							{% for i in range(1,5) %}
								{% if exercice.difficulte >= i %}
									<span style="width=15px ;  height=15px ; color: rgb(253, 204, 13);">
										<i class="fas fa-star"></i>
									</span>
								{% else %}
									<span style="width=15px ;  height=15px ; color: rgb(253, 204, 13);">
										<i class="far fa-star"></i>
									</span>
								{% endif %}

							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
	{% endfor %}
</table>{% endif %}{% endblock %}
