{% extends 'base.html.twig' %}

{% block title formation.title %}
{% block body %}
<div class="jumbotron">
	{% if app.user in formation.getInscrits() %}
		<h5 class="text-center">
			Bienvenue
			{{app.user.username}},Vous êtes inscrits dans la formation : "
			{{ formation.title}}
			".
		</h5>
	{% else %}
		<h5>
			{% if app.user %}
				Vous n'êtes pas inscrits, vous n'avez pas accés aux exercices.
				<a href="{{path('formation.inscription', {'id':formation.id , 'slug':formation.slug} ) }}">
					inscrivez vous  à cette formation en cliquant ici
				</a>
			{% else %}
				Vous n'êtes pas connecté, vous n'avez pas accés aux erercices.
				<a href="{{path('login')}}">
					Connectez-vous ici
				</a>
			{% endif %}

		</h5>
	{% endif %}
	<div class=" text-left">
		<div class="col">
			<div class="row">
				<h4 style="font-weight: bold;">
					Author:
					{{formation.author.username}}
					<br>
					Category :
					{{formation.category.title}}<br>
					Published :
					{{formation.getCreatedAt() | date('d/m/Y à H:i')}}
					<br>
					Nombre de participants :
					{{formation.inscrits | length}}
					<br>
				</h4>
			</div>


			<h4 style="font-weight: bold;">
				Description :
			</h4>
			<h6 class="text-left">
				{{formation.description | nl2br }}
			</h6>
		</div>
	</div>
</div>
{% if app.user in formation.getInscrits() %}
	<span>
		<h5>Commencez la formation  :
		</h5>
	</span>
	<table>
		{% for exercice in formation.getExercices() %}
			<div class="container">
				<div class="col-mb-12 d-flex align-items-stretch" style="width:80%; border-style:outset;">
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ path('exercice.show', {'id':exercice.id , slug:exercice.slug})}}">
								{{ exercice.title }}
							</a>
							{% if app.user %}
								{% if exercice.IsResolvedByUser(app.user) %}
									<i class="fas fa-check-circle fa-1x text-right" style="color:green;"></i>
								{% endif %}
							{% endif %}

						</h5>
						<p class="card-text">
							{{exercice.description }}
						</p>
						<div class="star-class">
							{% for i in range(1,5) %}
								{% if exercice.difficulte >= i %}
									<span style="width=15px ;  height=15px ; color: rgb(253, 204, 13);">
										<i class="fas fa-star"></i>
									</span>
								{% else %}
									<span style="width=15px ;  height=15px ; color: rgb(253, 204, 13);">
										<i class="far fa-star"></i>
									</span>
								{% endif %}

							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	{% endfor %}
</table>{% endif %}{% endblock %}
