{% extends 'base.html.twig' %}
{% block title 'Gérer les formations' %}

{% block body %}
	<div class="container mt-4">
		<div class="container mt-4">
		<div class="row">
			<div class="col">
			<a href="{{path('enseignant.formation.index')}}" style="color:#000!important;"><u>Formations</u>
			</a>
			</div>
			<div class="col">
			<a href="{{path('enseignant.exercice.index')}}" style="color:#5B7f95!important;">Gérer les exercices >
			</a>
			</div>
			<div class="col">
			 
			</div>
			<div class="col">
			<a href="{{path('enseignant.formation.new')}}" class="btn" style="background-color:#5B7f95!important;color:#FFF">
				Créer une nouvelle formation</a>
			</div>
		</div>
		{% for message in app.flashes('enseignant-formation') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}


		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for formation in formations %}
					<tr>
						<td>
							<a href="{{path('formation.show',{'id':formation.id ,'slug':formation.slug} ) }}">{{formation.title}}</a>
						</td>
						<td>
							<a href="{{path('enseignant.formation.edit',{id: formation.id})}}" class="btn btn-secondary">
								Editer
							</a>
							<form method="post" action="{{ path('enseignant.formation.delete',{id:formation.id})}}" style="display:inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette formation ?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id)}}">
								<button class="btn btn-danger">Supprimer
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			
		</div>
	</div>
{% endblock %}
