{% extends 'base.html.twig' %}
{% block head %}
	<!-- Compiled and minified CSS -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- custom stylesheet css -->
	<link
	rel="stylesheet" href="/asset/css/styles.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<title>Exercice</title>
{% endblock %}
{% block body %}
<!-- Modal -->
	<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<h4 class="text-center">Donne ton feedback</h4>
			<div class="rating" id="rating">
				<span id="s5" onclick="giveFeedback(this,{{exercice.id}})">☆</span>
				<span id="s4" onclick="giveFeedback(this,{{exercice.id}})">☆</span>
				<span id="s3" onclick="giveFeedback(this,{{exercice.id}})">☆</span>
				<span id="s2" onclick="giveFeedback(this,{{exercice.id}})">☆</span>
				<span id="s1" onclick="giveFeedback(this,{{exercice.id}})">☆</span>
				</div>
			</div>
		</div>
	</div>
	<!-- start section description -->
	<div class="container-md">
	<div class="row upperRow">
		<div class="col s12 m6 mt-auto">
			<div class="card white">
				<div class="card-content text-black darken-1">
					<a class="text-secondary" href="{{path('exercice.show',{slug: exercice.slug,id: exercice.id})}}"><b><</b>Retourner</a>
					<span class="card-title">Problème</span>
					<p>{{exercice.description}}</p>
				</div>
			</div>
		</div>
		<!-- validate section -->
		<div class="col s12 m6 mt-auto">
			<div class="card white">
				<div class="card-content text-black darken-1">
					<span id="result" class="card-title center gray-text">
						{% if resolution_rep is empty %}
							Aucune Tentative pour le moment !
						{% else %}
							Vous avez tenté
							{{resolution_rep[0].getTentatives()}}
							fois
						{% endif %}

					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- end section description  -->

	<!-- start section exercice -->
	<div class="row loerRow">
		<!-- sample unsorted div -->
		<div class="col s12 m6">
			<div class="card white">
				<div class="card-content text-black darken-1">
					<span class="card-title">Propositions</span>
					<div class="responsive-table">
						<div>
							<ul class="list1 sortable">
								{% for solution_line in solutions %}
									<li id="{{solution_line}}"><pre><code>{{solution_line}}</code></pre></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- sample sorted div -->
		<div class="col s12 m6">
			<div class="card white">
				<div class="card-content text-black darken-1">
				<button class="btn right" style="background-color:#5B7f95!important;" onclick="postRequest()">Valider</button>
				<button class="btn right" style="color:#000!important;background-color:#FFF!important;" onclick="reloadData()">Effacer</button>
					<span class="card-title">Solution</span>
					<div class="responsive-table">
						<div>
							<ul id="list2" class="list2 sortable"></ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div id="path-to-controller" data-href="{{ path('exercice.play', {slug: exercice.slug,id: exercice.id})}}"></div>
	<!-- end section exercice  -->
	</div>
{% endblock %}


{% block javascripts %}
	<script src="/asset/js/scripts.js"></script>
	<script>hljs.highlightAll();</script>

{% endblock %}
